<section id="donations">
  <div class="donation-section">
    <div class="header-donations">
      <h1>Colabora con nosotros</h1>
      <p>No te imaginas lo que podemos lograr con tu aporte.</p>
      <p>
        Salvar vidas tiene un costo muy alto en operación y equipamiento y es
        por eso que solicitamos la ayuda a la comunidad para así estar siempre
        bien preparados y con la mejor tecnología para acudir a las emergencias
        de manera totalmente desinteresada, incluso dispuestos a dar la vida si
        fuera necesario.
      </p>
    </div>
    <div class="cards-descriptions row col-10 justify-content-center">
      <h4>Donde van estos fondos?</h4>
      <div class="card-description col-lg-2">
        COMPRAR <span>EQUIPAMIENTOS Y CARROS</span>
      </div>
      <div class="card-description col-lg-2">
        MEJORAR <span> LA TECNOLOGÍA EN COMUNICACIONES</span>
      </div>
      <div class="card-description col-lg-2">
        IMPARTIR <span>CAPACITACIÓN ESPECIALIZADA</span>
      </div>
      <div class="card-description col-lg-2">
        MANTENER <span> Y CONSTRUIR LOS CUARTELES</span>
      </div>
      <div class="card-description col-lg-2">
        FINANCIAR <span>LA OPERACIÓN DIARIA</span>
      </div>
    </div>
    <div class="cards-pay">
      <div class="header-cars">
        <h5>Cualquier aporte es bien recibido y agradecido!</h5>
        <div
          class="card-pay btn btn-warning btn-outline-info col-12 text-light text-center p-2 m-2"
        >
          <a
            href="https://www.flow.cl/btn.php?token=ba75489f40f99311089f9bece858425f1c22bfda"
            target="_blank"
            >$2.000</a
          >
        </div>
        <div
          class="card-pay btn btn-warning btn-outline-info col-12 text-light text-center p-2 m-2"
        >
          <a
            href="https://www.flow.cl/btn.php?token=ybd76255289c0bfb6a02702c5c5f34b65d466bfe"
            target="_blank"
            >$5.000</a
          >
        </div>
        <div
          class="card-pay btn btn-warning btn-outline-info col-12 text-light text-center p-2 m-2"
        >
          <a
            href="https://www.flow.cl/btn.php?token=sb6e9cdcffd5697503f7fd91e6f723c2e14376c2"
            target="_blank"
            >$10.000</a
          >
        </div>
        <div
          class="card-pay btn btn-warning btn-outline-info col-12 text-light text-center p-2 m-2"
        >
          <a
            href="https://www.flow.cl/app/web/pagarBtnPago.php?token=f235f541706b8f022c363fa856be206d6f01fbb3"
            target="_blank"
            >Otro monto</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
