<div class="container mt-5">
  <div class="row">
    <div class="col-md-9 col-12">
      <div class="row w-100">
        <div
          class="col-12 d-flex align-items-top justify-content-center content-img p-0"
          *ngIf="item.featuredMedia.source_url"
        >
          <img
            [src]="item.featuredMedia.source_url"
            alt="Featured Image"
            alt="Post Image"
            class="shadow-sm p-3 mb-5 bg-body rounded"
            style="max-width: auto"
          />
        </div>
        <div class="col-12 py-2">
          <span *ngFor="let category of categories" class="badge bg-danger mx-1"
            >{{ category }}
          </span>
        </div>
        <div class="col-12 d-flex flex-column position-static mb-2">
          <h4 class="title-post">{{ item.title.rendered }}</h4>
          <div class="mb-1 text-muted">{{ item.date }}</div>
          <div class="content-post" [innerHTML]="item.content.rendered"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <app-links-home></app-links-home>
    </div>
  </div>
</div>
