<div class=""><app-index-carousel></app-index-carousel></div>

<section class="section-emergency">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">¿Tienes alguna emergencia?</h3>
      </div>
    </div>
    <div class="row mr-0 ml-0">
      <div class="col-md-3 col-6 mb-2 mb-md-0">
        <a href="tel:632316232" style="text-decoration: none">
          <div class="block bg-danger text-white text-center rounded">
            <i class="fab fa-gripfire fa-3x"></i>
            <h4>Emergencia</h4>
            <div>Tel: (63) 2-316-232</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0">
        <a href="tel:130" style="text-decoration: none">
          <div class="block bg-warning text-white text-center rounded">
            <i class="fas fa-tree fa-3x"></i>
            <h4>CONAF</h4>
            <div>Tel: 130</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0">
        <a href="tel:632563220" style="text-decoration: none">
          <div class="block bg-success text-white text-center rounded">
            <i class="fas fa-car fa-3x"></i>
            <h4>Carabineros</h4>
            <div>Tel: (63) 2-563-220</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0">
        <a href="tel:632316231" style="text-decoration: none">
          <div class="block bg-info text-white text-center rounded">
            <i class="fas fa-hospital fa-3x"></i>
            <h4>Cesfam</h4>
            <div>Tel: (63) 2-316-231</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="separator-img">
  <div class="w-100 parallax-wrapper">
    <a href="https://www.bomberos.cl" target="_blank">
      <img src="./assets/images/banner_bomberos.jpg" class="img-fluid w-100" />
    </a>
  </div>
</section>
<section class="section-blog">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">Noticias</h3>
      </div>
    </div>
    @if(isLoading){
    <app-loading></app-loading>
    } @if(!isLoading){
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of posts">
        <div
          class="row m-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative bg-light"
        >
          <div
            class="col-12 d-flex align-items-center justify-content-center p-0"
            style="max-height: 230px; overflow: hidden"
            *ngIf="getFeaturedImage(item)"
          >
            <img
              [src]="getFeaturedImage(item)"
              alt="Post Image"
              class="img-fluid rounded"
              style="max-width: 100%; max-height: auto; object-fit: cover"
            />
          </div>
          <div class="col-12 py-2">
            <span
              *ngFor="let category of getCategories(item)"
              class="badge bg-danger mx-1"
              >{{ category }}</span
            >
          </div>
          <div class="col-12 d-flex flex-column position-static mb-2">
            <h3 class="mb-1">
              {{ truncateText(item.title.rendered, 50) }}
            </h3>
            <div class="mb-1 text-muted">{{ formatData(item.date) }}</div>
            <p
              class="mb-2"
              [innerHTML]="truncateText(item.excerpt.rendered, 200)"
            ></p>
            <a
              [routerLink]="['/noticia', item.slug]"
              class="btn btn-outline-danger"
              >Continuar leyendo</a
            >
          </div>
        </div>
      </div>
    </div>
    }
    <div class="container col-12">
      <a [routerLink]="['/novedades']" class="btn btn-outline-danger col-12"
        >Ver más</a
      >
    </div>
  </div>
</section>
<section class="section-blog">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">Compañias</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body bg-danger">
            <h5 class="card-title text-light text-center">
              Cuerpo de Bomberos Malalhue
            </h5>
            <a
              href="./companies/directorio-general"
              class="btn btn-warning regular-button"
              >Directorio</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/primera.jpeg"
            class="card-img-top"
            alt="Primera Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Primera</h5>
            <a href="./companies/primera" class="btn btn-primary">Conoce más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/segunda.jpg"
            class="card-img-top"
            alt="Segunda Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Segunda</h5>
            <a href="./companies/segunda" class="btn btn-primary">Conoce más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/tercera.jpg"
            class="card-img-top"
            alt="Tercera Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Tercera</h5>
            <a href="./companies/tercera" class="btn btn-primary">Conoce más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="postulacion bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 formulario-postular">
        <h3 class="mb-1">Quiero postular</h3>
        <form
          action=""
          method="post"
          class="input-group mb-1 col-lg-6 col-md-12"
        >
          <input
            type="email"
            class="form-control"
            placeholder="Ingresa tu correo electrónico..."
            aria-label="Correo electrónico"
            required
          />
          <button type="submit" class="btn btn-warning">
            Recibir información
          </button>
        </form>
        <p>
          Déjanos tu correo, y recibirás información para postular a nuestras
          filas.
        </p>
      </div>
      <div class="w-100">
        <img
          src="../.././/../assets/images/banner-postulacion.png"
          alt=""
          class="w-100"
        />
      </div>
    </div>
  </div>
</section>
<section class="galleries">
  <div class="container">
    <app-get-galleries></app-get-galleries>
  </div>
</section>

<section class="contacto" id="contacto">
  <div class="container">
    <div class="row">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <h3 class="text-center">Contáctanos</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="contact-cont">
          <div class="contact-form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <app-float-input
                [type]="'text'"
                [title]="'Nombres'"
                [control]="contactForm.get('nombres')"
                [requiredText]="'Este campo es requerido'"
              >
              </app-float-input>
              <app-float-input
                [type]="'email'"
                [title]="'Email'"
                [control]="contactForm.get('email')"
                [requiredText]="'Este campo es requerido'"
              >
              </app-float-input>
              <app-float-input
                [type]="'text'"
                [title]="'Asunto'"
                [control]="contactForm.get('asunto')"
                [requiredText]="'Este campo es requerido'"
              >
              </app-float-input>
              <app-float-input
                [type]="'tel'"
                [title]="'Celular'"
                [control]="contactForm.get('celular')"
                [requiredText]="'Este campo es requerido'"
              >
              </app-float-input>
              <app-float-input
                [type]="'textarea'"
                [title]="'Mensaje'"
                [control]="contactForm.get('mensaje')"
                [requiredText]="'Este campo es requerido'"
              >
              </app-float-input>

              <button type="submit" class="btn btn-primary col-12">
                Enviar
              </button>
            </form>
          </div>
          <!-- Resto del código -->
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="d-flex flex-column mb-3 bg-danger rounded text-center tarjeta-contacto"
        >
          <a
            href="https://goo.gl/maps/bVgs3Sa4bUqB7Lxy9"
            target="_blank"
            class="text-decoration-none mb-2 text-light mt-3"
          >
            <i class="fas fa-map-marker-alt text-light" aria-hidden="true"></i>
            Covadonga n° 37.
          </a>
          <a href="tel:632316232" class="text-decoration-none text-light mb-2">
            <i class="fas fa-phone-alt" aria-hidden="true"></i> +63 2 316232
          </a>
          <a
            href="mailto:contacto@cbmalalhue.cl?Subject=Contacto%20desde%20pagina%20web"
            class="text-decoration-none text-light mb-2 height-10"
          >
            <i class="fas fa-envelope" aria-hidden="true"></i>
            <span>contacto&#64;cbmalalhue.cl</span>
          </a>
        </div>
        <div
          class="mb-3 col-12 bg-warning text-center d-flex justify-content-evenly rounded-2 tarjeta-rrss"
        >
          <a
            href="https://web.facebook.com/primeracompania.bomberosmalalhue"
            target="_blank"
            class="enlaces-redes me-2"
          >
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#" class="enlaces-redes me-2">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a
            href="https://www.instagram.com/2da_cia_malalhue/"
            target="_blank"
            class="enlaces-redes me-2"
          >
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=+&amp;text=Hola, Bomberos!"
            target="_blank"
            class="enlaces-redes me-2"
          >
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
          </a>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2355.4999641537543!2d-72.50836649931395!3d-39.54064289559982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96144608005d4b27%3A0x495b1ff5bb8a8272!2sBomberos%20De%20Malalhue!5e0!3m2!1ses-419!2scl!4v1680637730223!5m2!1ses-419!2scl"
          class="w-100 rounded"
          height="220"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <div class="derechos-res">
          <p class="mb-0">Todos los derechos reservados</p>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>

  <!-- Resto de tu código HTML aquí -->
</section>
