<div class="" id="start"><app-index-carousel></app-index-carousel></div>

<section class="section-emergency">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">¿Tienes alguna emergencia?</h3>
      </div>
    </div>
    <div class="row mr-0 ml-0">
      <div class="col-md-3 col-6 mb-2 mb-md-0 contact-tarjet">
        <a href="tel:632316232" style="text-decoration: none">
          <div class="block bg-danger text-white text-center rounded">
            <i class="fab fa-gripfire fa-3x"></i>
            <h4>Emergencia</h4>
            <div>Tel: (63) 2-316-232</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0 contact-tarjet">
        <a href="tel:130" style="text-decoration: none">
          <div class="block bg-warning text-white text-center rounded">
            <i class="fas fa-tree fa-3x"></i>
            <h4>CONAF</h4>
            <div>Tel: 130</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0 contact-tarjet">
        <a href="tel:632563220" style="text-decoration: none">
          <div class="block bg-success text-white text-center rounded">
            <i class="fas fa-car fa-3x"></i>
            <h4>Carabineros</h4>
            <div>Tel: (63) 2-563-220</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-2 mb-md-0 contact-tarjet">
        <a href="tel:632316231" style="text-decoration: none">
          <div class="block bg-info text-white text-center rounded">
            <i class="fas fa-hospital fa-3x"></i>
            <h4>Cesfam</h4>
            <div>Tel: (63) 2-316-231</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="separator-img">
  <div class="w-100 parallax-wrapper">
    <a href="https://www.bomberos.cl" target="_blank">
      <img src="./assets/images/banner_bomberos.jpg" class="img-fluid w-100" />
    </a>
  </div>
</section>

<section class="section-blog">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">Noticias</h3>
      </div>
    </div>
    @if(isLoading){
    <app-loading></app-loading>
    } @if(posts){
    <div class="row novedades">
      @for(item of posts; track item.id){

      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="row m-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative bg-light"
        >
          <div
            class="col-12 d-flex align-items-center justify-content-center p-0"
            style="max-height: 230px; overflow: hidden"
          >
            <img
              [src]="item.imageUrl"
              alt="Post Image"
              class="img-fluid rounded"
              style="max-width: 100%; max-height: auto; object-fit: cover"
            />
          </div>
          <div class="col-12 py-2">
            <span class="badge bg-danger mx-1">{{ item.category }}</span>
          </div>
          <div
            class="body-card-novedades col-12 d-flex flex-column position-static mb-0"
          >
            <h4>
              {{ truncateText(item.title, 50) }}
            </h4>
            <div class="date text-muted">{{ formatData(item.date) }}</div>
            <p
              class="text-novedades"
              [innerHTML]="truncateText(item.excerpt, 90)"
            ></p>
            <a
              [routerLink]="['/noticia', item.slug]"
              class="btn btn-outline-danger"
              >Continuar leyendo</a
            >
          </div>
        </div>
      </div>

      }
    </div>
    }
    <div class="container col-12">
      <a [routerLink]="['/novedades']" class="btn btn-outline-danger col-12"
        >Ver más</a
      >
    </div>
  </div>
</section>

<section id="ayudanos" class="bg-light py-5 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">
          Ayudanos a seguir ayudando!
          <i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
        </h3>
        <p>
          Salvar vidas tiene un costo muy alto en operación y equipamiento y es
          por eso que solicitamos la ayuda a la comunidad para así estar siempre
          bien preparados y con la mejor tecnología para acudir a las
          emergencias de manera totalmente desinteresada, incluso dispuestos a
          dar la vida si fuera necesario.
        </p>
      </div>
    </div>
    <div class="card-container row col-12">
      <div class="donations-card col-6">
        <a
          href="https://www.flow.cl/btn.php?token=ba75489f40f99311089f9bece858425f1c22bfda"
          target="_blank"
          class="btn btn-light btn-outline-danger col-xl-6 col-md-6 text-center"
          >Donar $2.000</a
        >
      </div>
      <div class="donations-card col-6">
        <a
          href="https://www.flow.cl/btn.php?token=ybd76255289c0bfb6a02702c5c5f34b65d466bfe"
          target="_blank"
          class="btn btn-light btn-outline-danger col-xl-6 col-md-6 text-center"
          >Donar $5.000</a
        >
      </div>
      <div class="donations-card col-6">
        <a
          href="https://www.flow.cl/btn.php?token=sb6e9cdcffd5697503f7fd91e6f723c2e14376c2"
          target="_blank"
          class="btn btn-light btn-outline-danger col-xl-6 col-md-12 text-center"
          >Donar $10.000</a
        >
      </div>
      <div class="donations-card col-6">
        <a
          [routerLink]="['/donaciones']"
          class="btn btn-light btn-outline-danger col-xl-6 col-md-12 text-center"
          >Donar otro monto</a
        >
      </div>
    </div>
  </div>
</section>

<section class="section-blog">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h3 class="text-center">Compañías</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body bg-danger">
            <h5 class="card-title text-light text-center">
              Cuerpo de Bomberos Malalhue
            </h5>
            <a
              [routerLink]="['/companies', 'directorio-general']"
              class="btn btn-warning regular-button"
              >Directorio</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/primera.jpeg"
            class="card-img-top"
            alt="Primera Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Primera</h5>
            <a [routerLink]="['/companies', 'primera']" class="btn btn-primary"
              >Conoce más</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/segunda.jpg"
            class="card-img-top"
            alt="Segunda Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Segunda</h5>
            <a [routerLink]="['/companies', 'segunda']" class="btn btn-primary"
              >Conoce más</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="./assets/images/companias/tercera.jpg"
            class="card-img-top"
            alt="Tercera Compañía"
          />
          <div class="card-body">
            <h5 class="card-title">Tercera</h5>
            <a [routerLink]="['/companies', 'tercera']" class="btn btn-primary"
              >Conoce más</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="postulation bg-light py-5 mt-3" id="postulation">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 formulario-postular">
        <h3 class="mb-1">Quiero postular</h3>
        <app-postulation-form></app-postulation-form>
        <p>
          Déjanos tu correo, y recibirás información para postular a nuestras
          filas.
        </p>
      </div>
      <div class="w-100">
        <img
          src="../.././/../assets/images/banner-postulacion.png"
          alt=""
          class="w-100"
        />
      </div>
    </div>
  </div>
</section>
<section class="galleries">
  <div class="container">
    <app-get-galleries></app-get-galleries>
  </div>
</section>

<section class="contacto" id="contact">
  <app-contact-form></app-contact-form>

  <!-- Resto de tu código HTML aquí -->
</section>
