@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Reglas de estilo para el cuerpo */
body {
  font-family: "Montserrat Alternates", sans-serif;
}

/* Definición de colores */
:root {
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
  --blue: #0073dd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --purpleT: #923cff;
}

body {
  background-color: var(--white);
}

/* Otros estilos personalizados */
/* Puedes añadir tus estilos personalizados aquí */

/* Estilos para el menú móvil */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: -100%; /* Inicialmente fuera de la vista a la izquierda */
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: left 0.5s; /* Transición suave de izquierda a derecha */
}

.mobile-menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-overlay.active {
  left: 0; /* Menú en la vista */
}

.mobile-menu-overlay li {
  margin-bottom: 1rem;
}

.mobile-menu-overlay a {
  color: white !important;
  text-decoration: none;
  font-size: 1.5rem;
}

.mobile-menu-overlay a:hover {
  text-decoration: underline;
}

/* Otros estilos personalizados que tengas */

.mat-snack-bar-primary .mdc-snackbar__surface {
  background-color: rgb(26,87,149)!important;
  color: white!important;
}

.mat-snack-bar-warning .mdc-snackbar__surface{
  background-color: #ff9800!important;
  color: black;
}
.mat-snack-bar-success .mdc-snackbar__surface {
  background-color: green!important;
  color: white!important;
}
.mat-snack-bar-error .mdc-snackbar__surface{
  background-color: #f44336!important;
  color: white;
}

.mat-snack-bar-container{
  padding-top: 72px;
  margin-top: 65px!important;
}