@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.sticky-nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.sticky-top {
  background-color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para el menú móvil */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: -100%; /* Inicialmente fuera de la vista a la izquierda */
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: left 0.5s; /* Transición suave de izquierda a derecha */
}

.mobile-menu-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-overlay.active {
  left: 0; /* Menú en la vista */
}

.mobile-menu-overlay li {
  margin-bottom: 1rem;
}

.mobile-menu-overlay a {
  color: white !important;
  text-decoration: none;
  font-size: 1.5rem;
}

.mobile-menu-overlay a:hover {
  text-decoration: underline;
}

/* Hide desktop menu on small devices */
@media (max-width: 767.98px) { /* Dispositivos móviles */
  .movile-nav{
      display: none !important;
  }
}


/* Bootstrap Custom Variables */
:root {
    --primary: #0073dd;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
