<div class="container">
  <div class="row">
    <div class="col-lg-14 mb-3">
      <a [routerLink]="'/company/directory/' + name" class="card-link text-decoration-none">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title text-white">Directorio de Compañía</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-12 mb-3">
      <a [routerLink]="'/company/volunteers/' + name" class="card-link text-decoration-none">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title text-white">Voluntarios</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-12">
      <a [routerLink]="'/company/machines/' + name" class="card-link text-decoration-none">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title text-white">Máquinas</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
